body{
    background: url("../images/statek.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
    background: rgb(19,0,78);
    background: linear-gradient(0deg, rgba(19,0,78,0.989233193277311) 21%, rgba(139,31,122,0.9192051820728291) 100%);
    border-radius: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#countdown{
    margin-top: 40px;
    text-align: center;
    width: 700px;
    height: 700px;

}

img{
    border-radius: 40px;
}

#days{
    color: #e81ad7;
    font-size: 80px;
    font-family: helvetica;
}

.text{
    color: white;
    font-size: 40px;
    font-family: helvetica;
}