<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WUJAPP</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <div id="wrapper">
        <div id="countdown">
            <a th:href="@{/redirectToDays}"><img src="../static/images/wuja.jpg" th:src="@{/images/wuja.jpg}" /></a><br/><br/>
            <span class="text"><b>NO DOTKNIJ WUJASA</b></span>
        </div>
    </div>
</body>
</html>